<h1>Would you like to work together</h1>

<div class="row">
  <div class="col-md-6">
    <h3>Address</h3>

    <p>Puri permata blok E2 no 6</p>

    <h3>Phone</h3>

    <p><%= number_to_phone("085888386376")%></p>

    <h3>Email</h3>

    <p><a href="mailto:cecepefendi.c2p@gmail.com?subject=PortfolioContact">Email me</a></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.245058117981!2d106.71235984995221!3d-6.362321795373463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69e58ce4d0cfa1%3A0xff3110633849e7dc!2sPAGUYUBAN+PURI!5e0!3m2!1sid!2sid!4v1552463628435" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>